<table>
  <tbody>
    <tr>
      <th><a href="{{ path('script') }}"><img width="200px" height="200px" src="{{ asset('images/list.png')}}" title="All Post" alt="All Post"></a></th>
      <th><a href="{{ path('script_list', {'type': "0"}) }}"><img width="200px" height="200px" src="{{ asset('images/BackDoor.png')}}" title="Backdoor" alt="Backdoor"></a></th>
      <th><a href="{{ path('script_list', {'type': "1"}) }}"><img width="200px" height="200px" src="{{ asset('images/Virus.png')}}" title="Malware" alt="Malware"></a>
      <th><a href="{{ path('script_list', {'type': "3"}) }}"><img width="200px" height="200px" src="{{ asset('images/Helper.png')}}" title="Helper" alt="Helper"></a></th>
    </tr>
    <tr>
      <td align="center"><h3>All Post</h3></td>
      <td align="center"><h3>Backdoor</h3></td>
      <td align="center"><h3>Malware</h3></td>
      <td align="center"><h3>Helper</h3></td>
    </tr>
  </tbody>
</table>
<hr class="clear">
