<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <title>Slote.me</title>
    <meta name="description" content="Download Tools for exploit Windows/Linux/Mac | HackerTools"/>
    <meta name="keywords" content="Slote Hacker, Download Tools Hack, Download Tools for exploit, Hacker Tools, Tools, Hacker, Hack Windows, Hack Mac, Hack Linux"/>
        <meta property="og:url" content="http://slote.me" />
        <meta property="og:site_name" content="Slote.me" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Slote coming soon in your Computer" />
        <meta property="og:description" content="Download Tools for exploit Windows/Linux/Mac | HackerTools" />
        <meta property="og:image" content="{{ asset('images/skull.png')}}" />
    <script src="{{ asset('js/app.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" media="all"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!--[if IE]> <style media="screen"> .myhr{margin:-0.45em 0} </style> <meta http-equiv="imagetoolbar" content="no" /> <![endif]-->
  </head>
  <body>
    {% block body %}
      <div class="overlay"></div>
      <div class="terminal">
        <header id="header">
          <div class="header_title">
            <h1><img width="128px" title="Slote.me" alt="Slote.me" src="{{ asset('images/skull.png')}}">
              <a class="errorcode" href="{{ path('mediashare_app_homepage')}}" title="Slote.me" aria-flowto="Slote.me">
                Slote.me
              </a>
              <span style="font-size:20px;">Coming soon in your
                <span class="errorcode">Computer</span>.</span>
            </h1>

            <div>
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                |
                <a href="{{ path('mediashare_app_homepage')}}">Home</a>
                |
                <a href="{{ path('mediashare_app_irc')}}">Chat IRC</a>
                |
                <a href="{{ path('mediashare_app_contact')}}">Contact</a>
                |
                <a href="{{ path('fos_user_security_logout') }}">
                  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>

              {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
              {% endif %}
            </div>

            {% for type, messages in app.session.flashbag.all() %}
              {% for message in messages %}
                <div class="flash-{{ type }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endfor %}
          </div>
          <hr class="clear">
        </header>
        <section id="content">
          <noscript>
            <dl id="jserror">
              <dt>Attention</dt>
              <dd>Si vous souhaitez utiliser pleinement toutes les capacités de ce site Internet vous devez activer javascript dans votre navigateur</dd>
            </dl>
          </noscript>
          {% block content %}{% endblock %}
        </section>
        {% block footer %}
          {{ render(controller('MediashareAppBundle:Default:footer')) }}
        {% endblock %}
        <div id="scrollToTop">
          <a href="#">&#9650;</a>
        </div>
        {% block javascripts %}{% endblock %}
      </div>
    {% endblock %}
  </body>
  {% block analytics %}
          {% include 'MediashareAppBundle::_analytics.html.twig' %}
  {% endblock %}
</html>
