{% extends 'MediashareAdminBundle::base.html.twig' %}

{% block content_right %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Modifier la liste des mots clés
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-key"></i> <a href="{{ path('admin_keywords') }}">Keywords</a>
            </li>
            <li class="active">
                <i class="fa fa-pencil-square"></i> Modification
            </li>
        </ol>
    </div>
    <div class="col-lg-12">
        {{ form_start(edit_form, {'attr': {'class':'form-horizontal' }}) }}
        <fieldset>

            <div class="form-group">
                {{ form_label(edit_form.keywords) }}
                <div class="col-lg-10">
                    {{ form_errors(edit_form.keywords) }}
                    {{ form_widget(edit_form.keywords) }}
                </div>
            </div>

        </fieldset>
        {{ form_end(edit_form) }}

        <a href="{{ path('admin_keywords') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>
            Retour &agrave; la
            liste</a>
    </div>
{% endblock %}
