{% for category in entity.childrens %}
    <div class="list-group-item">
        {% if category.pictures|length >0 %}
            <div class="row-picture">
                <img class="circle"
                     src="{{ category.pictures.0.getWebPath(base) }}"
                     alt="{{ category.pictures.0.name }}">
            </div>
        {% else %}
            <div class="row-action-primary">
                <i class="mdi-file-folder"></i>
            </div>
        {% endif %}
        <div class="row-content">
            <h4 class="list-group-item-heading menuParentHead">{{ category.title }}
                <a href="{{ path('admin_category_show', {'id':category.id}) }}" class="btn btn-primary"><i
                            class="fa fa-eye"></i> Voir</a>
                <a href="{{ path('admin_category_edit', {'id':category.id}) }}" class="btn btn-primary"><i
                            class="fa fa-pencil"></i> Modifier</a>
                {% if category.childrens|length > 0 %}
                    <span href="#" class="menuParent"
                          data-url="{{ path('admin_category_submenu', {'id':category.id}) }}"
                          data-id="{{ category.id }}">
                    </span>
                {% endif %}

            </h4>
            <div class="list-group-item-text">{{ category.description|raw }}</div>

        </div>

        <div id="menuChilds-{{ category.id }}" class="menuChilds list-group"></div>
    </div>
{% endfor %}
