{% extends 'MediashareAppBundle::base.html.twig' %}
{% block content %}
<div class="container">
  {% block menu %}
          {% include 'MediashareAppBundle::_menu.html.twig' %}
  {% endblock %}
    <div class="row">
      {{ form_start(form) }}
      <fieldset>
              <div class="center">
                {{ form_label(form.lastname) }}
              </div>
              <div class="center">
                  {{ form_errors(form.lastname) }}
                  {{ form_widget(form.lastname) }}
              </div>
            <div class="center">
              {{ form_label(form.firstname) }}
            </div>
              <div class="center">
                  {{ form_errors(form.firstname) }}
                  {{ form_widget(form.firstname) }}
              </div>
            <div class="center">
              {{ form_label(form.email) }}
            </div>
              <div class="center">
                  {{ form_errors(form.email) }}
                  {{ form_widget(form.email) }}
              </div>
            <div class="center">
              {{ form_label(form.message) }}
            </div>
              <div class="center">
                  {{ form_errors(form.message) }}
                  {{ form_widget(form.message) }}
              </div>
          <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
      </fieldset>
      {{ form_end(form) }}
    </div>
</div>
{% endblock %}
