<li {% if app.request.attributes.get('_route') starts with 'admin_script' %}class="active"{% endif %}>
    <a href="{{ path('admin_script') }}"><i class="fa fa-sitemap"></i> {{ "Script" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_menu' %}class="active"{% endif %}>
    <a href="{{ path('admin_menu') }}"><i class="fa fa-sitemap"></i> {{ "Menu" }}</a>
</li>
<li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_product' or app.request.attributes.get('_route') starts with 'admin_category' %}active{% endif %}">
    <a href="javascript:;" data-toggle="collapse" data-target="#products"><i class="fa fa-bars"></i> {{ "Produits" }} <b class="caret"></b></a>
    <ul class="collapse" id="products">
        <li {% if app.request.attributes.get('_route') starts with 'admin_product' %}class="active"{% endif %}><a
                    href="{{ path('admin_product') }}"><i class="fa fa-cube"></i> {{ "Produits" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_category' %}class="active"{% endif %}><a
                    href="{{ path('admin_category') }}"><i class="fa fa-cubes"></i> {{ "Catégories" }}</a></li>
    </ul>
</li>

{% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
    <li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_referencing' or app.request.attributes.get('_route') starts with 'admin_keywords' %}active{% endif %}">
        <a href="javascript:;" data-toggle="collapse" data-target="#seo"><i class="fa fa-bars"></i> {{ "Referencement" }} <b class="caret"></b></a>
        <ul class="collapse" id="seo">
            <li {% if app.request.attributes.get('_route') starts with 'admin_referencing' %}class="active"{% endif %}><a
                        href="{{ path('admin_referencing') }}"><i class="fa fa-bookmark"></i> {{ "Referencement des pages" }}</a></li>
            <li {% if app.request.attributes.get('_route') starts with 'admin_keywords' %}class="active"{% endif %}><a
                        href="{{ path('admin_keywords') }}"><i class="fa fa-key"></i> {{ "Keywords" }}</a></li>
        </ul>
    </li>
{% endif %}
<li {% if app.request.attributes.get('_route') starts with 'admin_pdf' %}class="active"{% endif %}>
    <a href="{{ path('admin_pdf') }}">{{ "Gestionnaire de pdfs" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_news' %}class="active"{% endif %}>
    <a href="{{ path('admin_news') }}"><i class="fa fa-newspaper-o"></i> {{ "News" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_faq' %}class="active"{% endif %}>
    <a href="{{ path('admin_faq') }}"><i class="fa fa-question-circle"></i> {{ "F.A.Q" }}</a>
</li>
<li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_gallery' or app.request.attributes.get('_route') starts with 'admin_gallery_category' %}active{% endif %}">
    <a href="javascript:;" data-toggle="collapse" data-target="#galleries"><i class="fa fa-bars"></i> {{ "Galeries" }} <b class="caret"></b></a>
    <ul class="collapse" id="galleries">
        <li {% if app.request.attributes.get('_route') starts with 'admin_gallery' %}class="active"{% endif %}><a
                    href="{{ path('admin_gallery') }}"><i class="fa fa-picture-o"></i> {{ "Galeries" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_category' %}class="active"{% endif %}><a
                    href="{{ path('admin_gallery_category') }}"><i class="fa fa-cubes"></i> {{ "Catégories" }}</a></li>
    </ul>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_folder' %}class="active"{% endif %}>
    <a href="{{ path('admin_folder') }}"><i class="fa fa-file"></i> {{ "Gestion documentaire" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_contact' %}class="active"{% endif %}>
    <a href="{{ path('admin_contact') }}"><i class="fa fa-envelope"></i> {{ "Contact" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_page' %}class="active"{% endif %}>
    <a href="{{ path('admin_page') }}"><i class="fa fa-columns"></i> {{ "Pages" }}</a>
</li>

<li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_newsletter_mail' or app.request.attributes.get('_route') starts with 'admin_newsletter_group' %}active{% endif %}">
    <a href="javascript:;" data-toggle="collapse" data-target="#newsletter"><i class="fa fa-bars"></i> {{ "Newsletter" }} <b class="caret"></b></a>
    <ul class="collapse" id="newsletter">
        <li {% if app.request.attributes.get('_route') starts with 'admin_newsletter_mail' %}class="active"{% endif %}><a
                    href="{{ path('admin_newsletter_mail') }}"><i class="fa fa-at"></i> {{ "Gestion des abonnés" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_newsletter_group' %}class="active"{% endif %}><a
                    href="{{ path('admin_newsletter_group') }}"><i class="fa fa-database"></i> {{ "Gestion des groupes" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_newsletter' %}class="active"{% endif %}><a
                    href="{{ path('admin_newsletter') }}"><i class="fa fa-paper-plane"></i> {{ "Gestion des newsletters" }}</a></li>
    </ul>
</li>

<li {% if app.request.attributes.get('_route') starts with 'admin_user' %}class="active"{% endif %}>
    <a href="{{ path('admin_user') }}"><i class="fa fa-users"></i> {{ "Utilisateurs" }}</a>
</li>
