{% extends 'MediashareAdminBundle::base.html.twig' %}

{% block content_right %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Produit
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cube"></i> <a href="{{ path('admin_product') }}">Produits</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Voir
            </li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">Titre</div>
            <div class="panel-body">
                {{ entity.title }}
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Référence</div>
            <div class="panel-body">
                {{ entity.reference }}
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Description</div>
            <div class="panel-body">
                {{ entity.description|raw }}
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Titre Catégorie</div>
            <div class="panel-body">
                {{ entity.category }}
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Lien vidéo</div>
            <div class="panel-body">
                {{ entity.urlLink }}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">Prix</div>
                <div class="panel-body">
                    {{ entity.price }} €
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">Prix promotion</div>
                <div class="panel-body">
                    {{ entity.promotionPrice }} €
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">Date de début de la promotion</div>
                <div class="panel-body">
                    {{ entity.promotionStartDate|date("m/d/Y") }}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">Date de fin de la promotion</div>
                <div class="panel-body">
                    {{ entity.promotionEndDate|date("m/d/Y") }}
                </div>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">En ligne ?</div>
                <div class="panel-body">
                    {% if entity.online %} Oui {% else %} Non {% endif %}
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Position</div>
                <div class="panel-body">
                    {{ entity.position }}
                </div>
            </div>
            {% if entity.pictures|length >0 %}
                <div class="panel panel-info">
                    <div class="panel-heading">Fichiers</div>
                    <div class="panel-body">
                        <div id="gallery" style="display:none;">
                            {% for picture in entity.pictures %}
                                <img alt="{{ picture.name }}" src="{{ asset(picture.getWebPath(base)) }}"
                                     data-image="{{ asset(picture.getWebPath(base)) }}"
                                     data-description="{{ picture.description }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


        <a href="{{ path('admin_product') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour à
            la
            liste</a>
        <a href="{{ path('admin_product_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i
                    class="fa fa-pencil"></i>
            Modifier</a>
        {{ form(delete_form) }}
    </div>
{% endblock %}

