<!DOCTYPE html>
<html>
  <head>
    <title>Slote.me</title>
    <meta name="description" content="Download Tools for exploit Windows/Linux/Mac | HackerTools"/>
    <meta name="keywords" content="Slote Hacker, Download Tools Hack, Download Tools for exploit, Hacker Tools, Tools, Hacker, Hack Windows, Hack Mac, Hack Linux"/>
        <meta property="og:url" content="http://slote.me" />
        <meta property="og:site_name" content="Slote.me" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Slote coming soon in your Computer" />
        <meta property="og:description" content="Download Tools for exploit Windows/Linux/Mac | HackerTools" />
        <meta property="og:image" content="{{ asset('images/skull.png')}}" />
    <script src="{{ asset('js/app.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" media="all"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <script src="{{ asset('js/login.js')}}" type="text/javascript"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/login.css')}}" type="text/css" media="all"/>
  </head>
  <body>
      <div class="overlay"></div>
      <div class="terminal">
      <header id="header">
        <div class="header_title">
          <h1><img width="128px" title="Slote.me" alt="Slote.me" src="{{ asset('images/skull.png')}}">
            <a href="{{ path('mediashare_app_homepage')}}">
              <span class="errorcode">Slote.me</span>
            </a>
            <span style="font-size:20px;">Coming soon in your
              <span class="errorcode">Computer</span>.</span>
          </h1>

          <div style="margin-bottom:80px;">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
              |
              <a href="{{ path('mediashare_app_homepage')}}">Home</a>
              |
              <a href="http://irc.slote.me:9000">Chat IRC</a>
              |
              <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
              </a>

            {% else %}
              <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
              <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}

            <hr class="clear">
          </div>

          {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
              <div class="flash-{{ type }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <hr class="clear">
        {% if error %}
          <div class="alert alert-danger">{{ error|trim('.')|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
      </header>
      <div class="container" style="margin-top: 80px;min-width: 364px;">
        <form class="login" action="{{ path("fos_user_security_check") }}" method="post">

          <fieldset>

            <legend class="legend">Login</legend>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <div class="input">
              <input type="text" placeholder="User" id="username" name="_username" class="form-control" value="{{ last_username }}"
              required/>
              <span><i class="fa fa-user"></i></span>
            </div>
            <div class="input">
              <input type="password" placeholder="Password" id="password" name="_password" class="form-control" required="required"/>
              <span><i class="fa fa-lock"></i></span>
            </div>
            <button type="submit" class="submit" name="_submit"  value="{{ 'security.login.submit'|trans }}"><i class="fa fa-long-arrow-right"></i></button>

          </fieldset>

          <div class="feedback">
            login successful <br />
            redirecting...
          </div>

        </form>
      </div>
    </body>
    {% block menu %}
            {% include 'MediashareAppBundle::_analytics.html.twig' %}
    {% endblock %}
</html>
