{% extends 'MediashareAdminBundle::base.html.twig' %}

{% block content_right %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Liste des catégories
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-cubes"></i> Catégories
            </li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="list-group">
            {% for entity in entities %}
                <div class="list-group-item">
                    {% if entity.pictures|length >0 %}
                        <div class="row-picture">
                            <img class="circle"
                                 style="width: 100px; height:  100px; border-radius: 100%"
                                 src="{{ entity.pictures.0.getWebPath(base) }}"
                                 alt="{{ entity.pictures.0.name }}">
                        </div>
                    {% else %}
                        <div class="row-action-primary" >
                            <i class="fa fa-folder-open fa-3x" aria-hidden="true" style="padding: 0 26px; border-radius: 100%; background-color: rgba(63, 176, 176, 0.22); line-height: 100px;"></i>
                        </div>
                    {% endif %}
                    <div class="row-content">
                        <h4 class="list-group-item-heading menuParentHead">{{ entity.title }}
                            <a href="{{ path('admin_gallery_category_show', {'id':entity.id}) }}" class="btn btn-primary"><i
                                        class="fa fa-eye"></i> Voir</a>
                            <a href="{{ path('admin_gallery_category_edit', {'id':entity.id}) }}" class="btn btn-primary"><i
                                        class="fa fa-pencil"></i> Modifier</a>
                            {% if entity.childrens|length > 0 %}
                                <span href="#" class="menuParent"
                                      data-url="{{ path('admin_gallery_category_submenu', {'id':entity.id}) }}"
                                      data-id="{{ entity.id }}">
                            </span>
                            {% endif %}
                        </h4>
                    </div>

                    <div id="menuChilds-{{ entity.id }}" class="menuChilds list-group"></div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('admin_gallery_category_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Ajouter</a>
        <a href="{{ path('admin_gallery') }}" class="btn btn-primary">Modifier les galeries </a>
    </div>
{% endblock %}
