{% extends 'MediashareAdminBundle::base.html.twig' %}

{% block content_right %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Catégorie
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cubes"></i> <a href="{{ path('admin_gallery_category') }}">Catégories</a>
            </li>
            <li class="active">
                <i class="fa fa-eye"></i> Voir
            </li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">Titre</div>
            <div class="panel-body">
                {{ entity.title }}
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Description</div>
            <div class="panel-body">
                {{ entity.description|raw }}
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Position</div>
            <div class="panel-body">
                {{ entity.position }}
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Online</div>
            <div class="panel-body">
                {% if entity.online == 0 %}
                    <td> Non</td>{% else %}
                    <td> Oui</td>{% endif %}
            </div>
        </div>

        <a href="{{ path('admin_gallery_category') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour à
            la
            liste</a>
        <a href="{{ path('admin_gallery_category_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i
                    class="fa fa-pencil"></i>
            Modifier</a>
        {{ form(delete_form) }}
    </div>
{% endblock %}

