{% extends 'MediashareAdminBundle::base.html.twig' %}

{% block content_right %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Modifier la page
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-columns"></i> <a href="{{ path('admin_page') }}">Pages</a>
            </li>
            <li class="active">
                <i class="fa fa-pencil-square"></i> Modification
            </li>
        </ol>
    </div>
    <div class="col-lg-12">
        {{ form_start(edit_form, {'attr': {'class':'form-horizontal' }}) }}
        <fieldset>
            <div class="form-group">
                {{ form_label(edit_form.title) }}
                <div class="col-lg-10">
                    {{ form_errors(edit_form.title) }}
                    {{ form_widget(edit_form.title) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.path) }}
                <div class="col-lg-10">
                    {{ form_errors(edit_form.path) }}
                    {{ form_widget(edit_form.path) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.content) }}
                <div class="col-lg-10">
                    {{ form_errors(edit_form.content) }}
                    {{ form_widget(edit_form.content) }}
                </div>
            </div>

            {{ form_end(edit_form) }}
        </fieldset>
        <a href="{{ path('admin_page') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour à la
            liste</a>
    </div>
{% endblock %}

